dialog{
    position: relative;
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    padding: 30px;
    box-sizing: border-box;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
}
dialog form{
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
dialog form div{
    display: flex;
    justify-content: space-between;
}
#modify-time-form div input{
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--on-color);
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 15px;
}
dialog form button{
    background-color: var(--on-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(2, 243, 98, 0.4);
    color: white;
    height: 30px;
}
